html, body, #map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/*GPS*/
.ol-gps {
    top: 280px;
    left: .5em;
}

.gps-active button{
    background-image: url('../images/gps-fixed.svg');
}

.gps-inactive button{
    background-image: url('../images/gps-not-fixed.svg');
}

.ol-gps button{
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}
  
.ol-touch .ol-gps {
    top: 280px;
}

/* Featureinfo popup */
.ol-popup {
    position: absolute;
	background-color:#E9EDF0;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #000;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #000;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

.result-block{
    display:block;
	background-color:#E9EDF0;
    font-family: Verdana, Geneva, sans-serif;font-size:11px;
}

.result-content{
    display:block;
}

.result-head{
	font-weight: bold;
}

.result-value{
}

.result-title {
    display:block;
    font-weight: bold;

}

/* Edit component */

.edit{
    top: 10px;
    position: relative !important;
    height: 50px;
}

.edit button{
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    float: left;
}

.edit label{
    float:left;
}

.panel{
    font-family: Verdana, Geneva, sans-serif;
    font-size:11px;
}

/* Edit group */


.edit-group {
    top: 0.5em;
    left: 4.5em;
    text-align: left;
}

.editgroup_main_button  {
    float: right;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: 2px;
    background-color: rgba(0,60,136,.7;);
    border: none;
}

.edit-group .panel {
    padding: 0 1em 0 0;
    position: relative;
    margin: 0;
    border: 4px solid #eee;
    border-radius: 4px;
    background-color: rgba(0,60,136,.5);
    color: white;
    display: none;
    max-height: 100%;
}

.edit-group.shown .panel {
    display: block;
    height:100%;
}

.edit-group.shown > button {
    display: none;
}

.edit-group button:focus, .layer-switcher button:hover {
    background-color: rgba(0,60,136,.7);
}

.edit label{
    color: white;
}

.edit-list{
    list-style-type: none;
    
    padding-left: 10px;

}

.active{
    background-color: rgba(255,255,255,.6) !important;
}

.inactive{
    background-color: rgba(255,255,255,.4) !important;
}