html, body, #map {
    padding: 0;
    margin: 0;
    height: 90%;
    width: 90%;
}

/*GPS*/
.ol-gps {
    top: 280px;
    left: .5em;
}

.gps-active button{
    background-image: url('../images/gps-fixed.svg');
}

.gps-inactive button{
    background-image: url('../images/gps-not-fixed.svg');
}

.ol-gps button{
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}
  
.ol-touch .ol-gps {
    top: 280px;
}

/* Featureinfo popup */
.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

.result-block{
    display:block;
}

.result-title {
    display:block;
    font-weight: bold;

}

/* Edit component */

.edit{
    top: 10px;
}

.edit button{
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.edit1 {
    left: 110px;
}

.edit1-active button{
    background-image: url('../images/radio_rood_selected.png');
}

.edit1-inactive button{
    background-image: url('../images/radio_rood.png');
}

.edit2 {
    left: 150px;
}
.edit2-active button{
    background-image: url('../images/radio_blauw_selected.png');
}
.edit2-inactive button{
    background-image: url('../images/radio_blauw.png');
}

.edit3 {
    left: 190px;
}
.edit3-active button{
    background-image: url('../images/radio_groen_selected.png');
}
.edit3-inactive button{
    background-image: url('../images/radio_groen.png');
}